@import "shisutakia-theme-variables";

.hljs- {
  &keyword {
    color: $keyword-color;
    font-style: italic;
  }

  &attribute {
    color: $attribute-color;
  }

  &string {
    color: $string-color;
  }

  &comment {
    color: $comment-color;
  }

  &tag {
    color: $tag-color;
  }

  &name, &built_in {
    color: $name-color;
    font-weight: bold;
  }

  &title {
    color: $title-color;
  }

  &number {
    color: $number-color;
  }

  &regexp {
    color: $regexp-color;
  }

  &type, &class, &title {
    color: $title-color;
  }

  &variable {
    color: $variable-color;
  }

  &section {
    color: $section-color;
  }

  &quote {
    color: $faded;
  }

  &bullet {
    color: $gray;
  }

  &meta, &link, &symbol {
    color: $orange;
  }

  &literal, &template-variable, &tag &attr, &addition, &deletion {
    color: $primary-color;
  }
}

code[lang="diff"] {
  .hljs- {
    &deletion {
      background: divide(rgba($red, 0.5), 2);
    }

    &addition {
      background: divide(rgba($green, 0.5), 2);
    }
  }
}

.xml {
  .hljs- {
    &tag {
      color: $faded;
    }
  }
}